@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #161616;
}

.glow-button-call {
  box-shadow: 0 0 15px rgba(243, 80, 52, 0.5);
}

.glow-button-call:hover {
  box-shadow: 0 0 20px rgba(243, 80, 52, 0.75);
}

.glow-available {
  box-shadow: 0 0 10px #10B981;
}

.glow-available:hover {
  box-shadow: 0 0 15px #10B981;
}

.glow-recent-work {
  box-shadow: 0 0 10px #F35034;
}

.glow-recent-work:hover {
  box-shadow: 0 0 15px #F35034;
}

.background-key-word-1 {
  background-image: linear-gradient(
    25deg,
    hsl(0deg 0% 13%) 47%,
    hsl(5deg 29% 19%) 63%,
    hsl(6deg 40% 23%) 72%,
    hsl(7deg 45% 26%) 78%,
    hsl(7deg 49% 29%) 82%,
    hsl(7deg 52% 31%) 86%,
    hsl(7deg 54% 34%) 89%,
    hsl(8deg 56% 36%) 91%,
    hsl(8deg 57% 38%) 93%,
    hsl(8deg 58% 40%) 95%,
    hsl(8deg 59% 42%) 96%,
    hsl(8deg 60% 43%) 97%,
    hsl(8deg 61% 45%) 98%,
    hsl(8deg 62% 47%) 99%,
    hsl(8deg 62% 48%) 99%,
    hsl(9deg 63% 50%) 100%,
    hsl(9deg 66% 51%) 100%,
    hsl(9deg 70% 53%) 100%,
    hsl(9deg 75% 54%) 100%,
    hsl(9deg 79% 55%) 100%,
    hsl(9deg 84% 57%) 100%,
    hsl(9deg 89% 58%) 100%
  );
}

.background-key-word-2 {
  background-image: linear-gradient(
    225deg,
    hsl(0deg 0% 13%) 47%,
    hsl(5deg 29% 19%) 63%,
    hsl(6deg 40% 23%) 72%,
    hsl(7deg 45% 26%) 78%,
    hsl(7deg 49% 29%) 82%,
    hsl(7deg 52% 31%) 86%,
    hsl(7deg 54% 34%) 89%,
    hsl(8deg 56% 36%) 91%,
    hsl(8deg 57% 38%) 93%,
    hsl(8deg 58% 40%) 95%,
    hsl(8deg 59% 42%) 96%,
    hsl(8deg 60% 43%) 97%,
    hsl(8deg 61% 45%) 98%,
    hsl(8deg 62% 47%) 99%,
    hsl(8deg 62% 48%) 99%,
    hsl(9deg 63% 50%) 100%,
    hsl(9deg 66% 51%) 100%,
    hsl(9deg 70% 53%) 100%,
    hsl(9deg 75% 54%) 100%,
    hsl(9deg 79% 55%) 100%,
    hsl(9deg 84% 57%) 100%,
    hsl(9deg 89% 58%) 100%
  );
}